*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* progress bar */
.progress{
    width: 210px;
    height: 30px;
    background-color: #9cbab4;
    border-radius: 10px;
    overflow: hidden;
    outline: none;
    border: none;
    position: relative;
}

.progress__fill{
    width: 0%;
    height: 100%;
    background-color: #009579;
    transition: all 1s;
}

.progress__text{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px 'Quicksand', san-serif;
    font-weight: bold;
    color: #fff;
}
/* progress bar */


/* circular progress bar */
.circular__progress{
    height: 250px;
    width: 250px;
    background-color: orange;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: relative;
}

.circular__progress::before{
    content: "";
    position: absolute;
    height: 85%;
    width: 85%;
    background-color: #fff;
    border-radius: 50%;
}

.circular__value{
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #231c3d;
}
/* circular progress bar */

/* multi progress bar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');

:root{
    --line-border-fill: #9c27b0;
    --line-border-empty: #bdbdbd;
}

.container_multiprogress{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.title_multiprogress{
    color: #212121;
    font-weight: bold;
    margin-bottom: 100px;
}

.icon{
    font-size: 1.8rem;
    cursor: pointer;
}

.fa-html5 {
    color: #ff5773;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-js {
    color: #f7e018;
}

.fa-react { 
    color: #61dbfb;
} 

.multiprogress-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 100%;
    width: 350px;
    margin-bottom: 30px;
}

.multiprogress-container::before{
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease all;
}

.multiprogress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease all;
}

.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 3px solid #b2bec3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease all;
}

.circle.active{
    border-color: var(--line-border-fill);
}

/* .btn{
    background-color: var(--line-border-fill);
    color: #ffffff;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(1);
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
} */
/* multi progress bar */

/* .form-container {
    max-width: 860px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
} */

/* .form__row {
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
} */

/* .form__label {
    display: block;
    font-size: 12px;
    width: 30%;
    padding-left: 20px;
}

.form__input {
    flex: 1;
    padding: 5px;
    outline: none;
    font-size: 14px;
    color: #333;
    width: 65%;
} */

/* Set màu cho placeholder trong thẻ input */
/* .form__row input::-webkit-input-placeholder{
    color: #ccc;
}

.title_image{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0;
    text-align: center;
} */

/* .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
} */

/* .nid_images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front_nid_image, .back_nid_image, .selfie_image{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selfie_image, #front_image, #back_image{
    margin: 10px auto;
    width: 50px;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

.front_nid_image{
    margin-bottom: 30px;
} */

