@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;1,400&display=swap');

body{
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    color: #000000;
}

button{
    max-width: 299px;
    height: 46px;
    padding: 12px 40px;
    background: rgba(154, 147, 147, 0.1);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

input{
    max-width: 400px;
    height: 49px;
    padding: 8px 20px;
    background: #FFFFFF;
    border-radius: 50px;
    outline: none;
    border: none;
}

/* Start Main Page */
.main-page h3{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.main-page{
    background-color: #F4F4F4 !important;
    background: 
        url(assets/img/Gradient-bgr-2.png) no-repeat left 0 top 350px, 
        url(assets/img/Gradient-bgr-3.png) no-repeat left 30% top 3500px;
        min-height: 100vh;
        padding: 15px;
}

.main-page .paragraph-text{
    /* line-height: 10px; */
    font-size: 14px;
}

.main-page .list-items{
    width: 50%;
    padding: 20px 5%;
    margin-top: 6%;
}

.main-page .list-items .card .card-body{
    background: #FFFFFF;
    /* padding: 20px 25px; */
    margin: 0;
}

.main-page .list-items .card .card-body .list{
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding: 20px 25px;
    border-bottom: 1px solid #e5e5e5;
}

.main-page .list-items .card .card-body .list:last-child{
    border-bottom: none;
}

.main-page .list-items .card .card-footer{
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    padding: 20px 25px;
    margin: 0;
    border-top: 1px dashed #e5e5e5;
}

.main-page .list-items .card .card-footer span{
    line-height: 30px;
}

.main-page .list-items .card .card-head{
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 25px;
    margin: 0;
    border-bottom: 1px dashed #e5e5e5;

}

.main-page .list-items .card .card-footer .total-price{
    float: right;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #197DDE;
}

.main-page .box{
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 6%;
    padding: 20px 5%;
}

/* Camera back */
.main-page .btnCapture{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto 52px;
    background: url(./assets/img/camera.png) center no-repeat;
    background-color: #FFF;
    border-radius: 30px;
    border: 3px solid #EEEEEE;
    position: relative;
}

.main-page .btnCapture.showImage::after {
    content: url(./assets/img/icon-check.png);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 38px;
    height: 38px;
    object-fit: cover;
}
/* Camera back */

.main-page .selfie_picture{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    display: none;
}

.main-page .buttons label{
    display: table-row;
    width: 100%;
    float: left;
}

.main-page .buttons{}

.main-page .buttons label.caption {
    top: 90px;
    position: relative;
    font-weight: 400!important;
    font-family: Montserrat Alternates,sans-serif;
}

.main-page .buttons button{
    margin: 28px 14px 14px 14px;
    display: table-cell;
}
/* End Main Page */

/* Start Test */
#test{
    display: flex;
    background: rgba(247, 247, 247, 0.75);
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-size: 14px;
    min-height: 95vh;
}

#test form.formValue{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

#test form.formValue .input-global{
    width: 400px;
    height: 49px;
    background: #FFFFFF;
    border-radius: 50px;
    margin-top: 12px;
    margin-bottom: 40px;
    padding: 8px 20px;
}

#test .voolo-logo{
    width: 265px;
    height: 50px;
    background: url(assets/img/VOOLO_logo_horizontal.png) no-repeat; 
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 32px;
    object-fit: cover;
}

#test form.formValue label{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/* Tenors */
.voolo-intro ul{
    padding-left: 15px;
    font-size: 14px;
}

.voolo-intro ul li{
    list-style: circle;
}

.voolo-intro{
    text-align: left;
    background: #FFFFFF;
    box-shadow: 1px 1px 6px #e4e4e4;;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 32px;
}

.tenor-list{
    margin-bottom: 12px;
    border: 2px solid #fff;
    position: relative;
}

.tenor-list:hover{
    cursor: pointer;
    border: 2px solid #197DDE;

}

.tenor-list.active{
    border: 2px solid #197DDE;
}

.tenor-list.active::after{
    content: url(./assets/img/icon-check.png);
    position: absolute;
    top: -8px;
    right: -8px;
    width: 22px;
    height: 22px;
}

a.ahref{
    width: 100%;
    display: inline-block;
    line-height: 40px;
    color: #177dde;
    cursor: pointer;
}

.margin-bottom-default{
    margin-bottom: 32px;
}

.font-w-5{
    font-weight: 500;
}

.head-w-6{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.ellipsis{
    width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list .price{
    width: 20%;
    text-align: right;
}

.list .info{
    width: 60%;
    padding: 0 10px;
}

.list .info p{
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-size: 14px;
}

.list .image{
    width: 20%;
    padding-right: 5px;
}

.list .image img{
    width: 100%;
}

.list-provider{
    margin-bottom: 20px;
}

.list-provider button{
    border-radius: 15px;
    height: 100px;
    width: 100%;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.25);
    transition: 0.3s;
}

.list-provider button:hover{
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
}

.list-provider button img{
    width: 15em;
    padding: 15px;
}

/* form information */
.form-row{
    width: 50%;
    padding: 16px 20px;
    float: left;
}

.form-card .card{
    display: grid;
    margin-bottom: 24px;
}

.form-card {
    /* background: #323232; */
    width: 50%;
    padding: 20px 0;
    margin: 6% auto;
}

.form-card h2{
    text-align: center;
    width: 100%;
}

.form-card p.desc{
    text-align: center;
    width: 100%;
    margin-bottom: 56px;
    font-size: 11px;
    font-weight: 400;

}

.form-card .card-head,.form-card .card-body,.form-card .card-footer{
    background: rgba(154, 147, 147, 0.1);
}

.form-card .card-head{
    border-radius: 10px 10px 0px 0px;
    padding: 20px 25px;
    margin: 0;
    border-bottom: 1px solid #fff;
}

.form-card .no-line{
    border-bottom: none;
}

.form-card .text-center{
    text-align: center;
}

.form-card .card-footer{
    border-radius:  0px 0px 10px 10px;
    height: 20px;
}

.form-card button{
    margin: 0 auto;
    display: block;
}

.form-row label{
    display: block;
    margin-bottom: 12px;
    font-weight: 600;

}

.form-row .form-cell{
    width: 47%;
    float: left;
}

.form-row .form-cell:first-child{
    margin-right: 6%;
}

.form-row input{
    padding: 8px 20px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.form-row select,.form-row input[type=number],
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.form-row select{
    background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 6px),
    calc(100% - 15px) calc(1em + 6px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.form-row select:focus{
    background-image:
    linear-gradient(45deg, black 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, black 50%);
  background-position:
    calc(100% - 15px) calc(1em + 6px),
    calc(100% - 20px) calc(1em + 6px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

.form-row select{
    /* padding: 0 50px; */
}

.form-row select::-ms-expand{
    display: none;
}

.form-row input:read-only{
    background: rgba(154, 147, 147, 0.1);
}

.form-card-pincode{
    background: rgba(247, 247, 247, 0.75);
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

/* pincode ui */
#pincode, #repincode{
    display: inline-flex;
}

.form-pincode{
    line-height: 64px;
}

.form-pincode .pincode-input {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #8A8A8A;
    text-align: center;
    text-transform: uppercase;
    color: #56CA8B;
}

.form-otpcode .pincode-input {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #fff;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.pincode-input:not(:last-child) {
    margin-right: 1rem;
}

.pincode-input.pincode-input--focused {
    border-color: #000;
}

.pincode-input.pincode-input--filled[type="password"] {
    font: small-caption;
    font-size: 5em;
}

.pincode-input.pincode-input--filled {
    border-color: #56CA8B;
}  

.ico-success{
    width: 120px;
    height: 120px;
    background: url(./assets/img/Success.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.ico-unsuccess{
    width: 120px;
    height: 120px;
    background: url(./assets/img/Unsuccess.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
}

#hv-camera-capture-button{
    filter: invert(93%) sepia(72%) saturate(726%) hue-rotate(68deg) brightness(88%) contrast(77%);
}

.hv-liveness-face-found{
    border-color:#56CA8B!important;
}

.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(7, 32, 55, 0.4);
}

.alert-box{
    position: fixed;
    width: 25%;
    height: 169px;
    top: 33%;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 20px;
    text-align: center;
}

.imgloading{
    width: 50px;
    height: 50px;
    margin: 40px auto 20px auto;
    background: url("./assets/img/loading.png") no-repeat;
    background-size: contain;
    -webkit-animation-name: rotate;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -moz-animation-name: rotate;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform:rotate(0deg);}
    to {  -webkit-transform:rotate(360deg);}
  }

@-moz-keyframes rotate {
    from {-moz-transform:rotate(0deg);}
    to {  -moz-transform:rotate(360deg);}
  }

/* Turn off scrollbar when body element has the loading class */
body.loading{
    overflow: hidden;   
}

/* Make spinner image visible when body element has the loading class */
body.loading .overlay{
    display: block;
}

#customerInfo{
    display: inline-flex;
    margin-bottom: 32px;
}

#customerInfo .avatar{
    margin-right:25px;
    overflow: hidden;
    border-radius: 50%;
}

#customerInfo h2{
    color:#56CA8B;
}

#customerInfo .detail{
    text-align: left;
}

.form-row select{
    width: 100%;
}

.headrow{
    width: 70%;
    position: absolute;
    margin: 20px auto;
    text-align: center;
    left: 0;
    right: 0;
}

.headrow .line .Tpipe{
    border-bottom: 1px dashed #ccc;
    width: 23%;
    height: 1px;
}

.headrow .line .Tpipe.active{
    border-bottom: 1px solid #197DDE;
    width: 23%;
    height: 1px;
}

.headrow .line .Tpipe.last{
    width: 12%;
    border: 0;
}

.headrow .line{
    width: 100%;
    /* border-bottom: 1px dashed #ccc; */
    display: flex;
    padding-left: 10%;
}

.headrow .pipeline{
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
}

.headrow .pipeline .pipe{
    height: 50px;
    width: 20%;
    font-size: 14px;
    padding-top: 10px;
    position: relative;
}

.headrow .pipeline .pipe::before{
    content: "\25CF";
    font-size: 32px;
    color:gray;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -22px;

}

.headrow .pipeline .pipe.active::before,
.headrow .pipeline .pipe.active{
    color:#197DDE;
}

.formValue-mt{
    margin-top: 200px !important;
}

/*  and (min-width: 390px)  */
@media only screen and (max-width: 414px){
    .main-page{
        display: flow-root;
    }
    .main-page .list-items{
        width: 100%;
        padding: 0;
        order: 2;
    }
    .main-page .box{
        width: 100%;
        padding: 0;
    }
    .main-page .list-items .card .card-body .list{
        padding: 20px 15px;
    }
    #test{
        display: flex;
        flex-flow: column;
        background: none; 
        box-shadow: none;
    }
    #test form.formValue{
        width: 100%;
        padding: 0;
        order: 1;
    }
    .orderTop{
        order: 3!important;
    }
    .list .image {
        width: 16%;
        padding:0;
        margin: auto;
    }
    .list .info {
        width: 50%;
        margin: 0 6px;
    }
    .list .price {
        width: 34%;
    }
    .list .info p{
        line-height: 20px;
    }
    .mobile{
        /* padding: 20px 5%;
        background: #F3F3F3;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
        border-radius: 20px; */
    }
    #test form.formValue .input-global{
        width: 95%;
    }
 
    .list-provider button{
        /* height: 100px;
        width: 100%; */
    }
    .form-card{
        width: 100%;
    }
    .form-card .form-row{
        width: 100%;
    }
    .form-verify label{
        display: inline-block;
    }
    .form-verify div.info{
        float: right;
    }
    #customerInfo{
        margin-bottom: 0;
    }
    .headrow{
        position: relative;
        width: 100%;
    }
    .headrow .line .Tpipe{
        border-bottom: 1px dashed #ccc;
        width: 23%;
        height: 1px;
    }
    .headrow .line .Tpipe.active{
        border-bottom: 1px solid #197DDE;
        width: 25%;
        height: 1px;
    }
    .headrow .line .Tpipe.last{
        width: 15%;
        border: 0;
    }
    .headrow .pipeline .pipe{
        font-size: 10px;
    }
    .formValue-mt{
        margin-top: 0!important;
    }
    .alert-box{
        position: fixed;
        width: 90%;
        height: 169px;
        top: 33%;
        left: 0;
        z-index: 2;
        background-color: #fff;
        margin: 20px;
        border-radius: 20px;
        text-align: center;
    }
}   

/* showDataInform */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.form-showdata{
}

.form-showdata > .form-showdata-title{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.form-showdata > .form-showdata-desc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.form-showdata .form-showdata-info {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

/* show Confirm Data Inform */
.form-confirmdata{

}

.form-confirmdata .form-confirmdata-title{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.form-confirmdata .form-confirmdata-desc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.form-confirmdata .form-confirmdata-info{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.header-voolo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    text-align: center;
}

.header-voolo > #header-voolo-logo {
    width: 265px;
    height: 50px;
    margin-bottom: 61px;
}

.header-voolo > #header-voolo-logo img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.header-voolo > #header-voolo-title{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 45px;
}

#img-voolo-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    text-align: center;
}

#img-voolo-logo img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}

#voolo-title{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-top: 59px;
    margin-bottom: 45px;
}

.container-status-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin: 0 auto;
}

.container-status-page-img{
    display: block;
    object-fit: cover;
}

.container-status-page-title{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 45px;
}

.container-status-page-desc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    margin-top: 16px;
}

/* Start form Value Nid */
#test #formValueNid{
    background: rgba(247, 247, 247, 0.75);
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.formValueNid-label{
    display: block;
    margin-bottom: 5.5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.formValueNid-input{
    display: block;
    width: 308px;
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 8px 20px;
    background: #FFFFFF;
    border-radius: 40px;
}

.formValueNid-title{
    margin-top: 23.5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

#btnSubmitNid{
    width: 299px;
    height: 46px;
    padding: 12px 40px;
    background: rgba(154, 147, 147, 0.1);
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;
    text-align: center;
}
/* End form Value Nid */

.container-selfieintroduction-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-right: 50px;
}

.container-selfieintroduction-list .selfieintroduction-item:nth-last-of-type(0){
    margin-right: 0px;
}

.container-selfieintroduction-list .selfieintroduction-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    margin-right: 50px;
}

.container-selfieintroduction-list .selfieintroduction-item .selfieintroduction-item-img{
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.container-selfieintroduction-list .selfieintroduction-item .selfieintroduction-item-content{

}

.container-selfieintroduction-list .selfieintroduction-item .selfieintroduction-item-desc{

}